body {
  margin: 0;
  font:fantasy;
  background-color: #fff8d6;
  color: #5b4b00;
}

header {
  background-color: #ffd84d;
  text-align: center;
  padding: 40px 20px;
  border-bottom: 5px solid #f4c400;
}

h1 {
  margin: 0;
  font-size: 50px;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff3b0;
  padding: 25px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.card h2 {
  color: #c28b00;
  margin-top: 0;
}

.profile-pic {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #ffd84d;
  display: block;
  margin: 20px auto;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffd84d;
  margin-top: 40px;
  font-size: 14px;
}

a {
  color: #a36d00;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff9900;
}
.image-section {
  text-align: center;
  margin-bottom: 30px;
}

.main-image {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.caption {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}
nav {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

nav a {
  text-decoration: none;
  color: #ffed7a;
  background-color: #f4c542;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  background-color: #fff3b0;
}
.growth-card {
  text-align: center;
  margin-bottom: 40px;
}

.growth-image {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.description {
  margin-top: 15px;
  font-size: 18px;
  color: #444;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.future-card {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fff9b3;
  padding: 25px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.future-image img {
  width: 300px;
  border-radius: 15px;
}

.future-text {
  flex: 1;
}

.future-text h2 {
  margin-bottom: 15px;
}

.future-text p {
  line-height: 1.6;
}
.card {
  text-align: center;
}

iframe {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}